@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #272d38;
  --light: #fff;
  --primary-color: #8eadd5;
  --primary-color-dark: #3f3f3f;
  --gray: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
